.task-completed {
	text-decoration: line-through;
}

.navbar-header {
	background-color: #250225;
	padding-left: 15px;
}

#info {
	background-color: #060606;
}

#tableInfo {
	border-radius: 5px;
	width: 50%;
	float: none;
}

#comments {
	margin-top: 90px;
}

#save {
	margin-top: 30px;
}

#btnCircle {
	margin-bottom: 20px;
}

#myFormEdit {
	width: 50%;
}

.btn-circle {
	width: 30px;
	height: 30px;
	text-align: center;
	padding: 6px 0;
	font-size: 12px;
	line-height: 1.428571429;
	border-radius: 15px;
}

#addComment {
	float: right;
}

.media-object {
	width: 25px;
	height: 25px;
}

.action {
	float: right;
}