<form name="myForm" class="form-horizontal">

	<div ng-class="myForm.title.$invalid ? 'form-group has-error has-feedback' : 'form-group has-success has-feedback'">
		<div class="col-xs-4">
			<input ng-keyup="$event.keyCode == 13 && add()" class="form-control" type="text" name="title" ng-model="task"
				placeholder="Enter new task" required> <span
				ng-class="myForm.title.$invalid ? 'glyphicon glyphicon-remove form-control-feedback' : 'glyphicon glyphicon-ok form-control-feedback'"></span>
		</div>
		<button type="button" class="btn btn-primary" ng-disabled="myForm.title.$invalid" ng-click="add()">Add</button>
	</div>

</form>
<br />

<ul ng-show="tasks.length != 0" class="nav nav-pills">
	<li ng-class="tasksId == null ? 'active' : ''"><a href="#/">All tasks</a></li>
	<li ng-class="tasksId == 'completed' ? 'active' : ''"><a href="#/completed">Completed tasks</a></li>
	<li ng-class="tasksId == 'remaining' ? 'active' : ''"><a href="#/remaining">Remaining tasks</a></li>
	<li id="liSearch" class="col-md-4 col-md-offset-5">
		<form action="" class="search-form">
			<div id="divSearch" class="form-group has-feedback">
				<input type="text" ng-keyup="$event.keyCode == 27 && escape()" class="form-control" name="search" id="search" placeholder="Search" ng-model="userSearch"> <span
					class="glyphicon glyphicon-search form-control-feedback"></span>
			</div>
		</form>
	</li>
</ul>

<table class="table table-striped" ng-show="tasks.length != 0">
	<thead>
		<tr id="tasks">
			<th>#</th>
			<th ng-click="sortBy('title',2)">Title</th>
			<th ng-click="sortBy('completed',3)">Done</th>
			<th ng-click="sortBy('priority.id',4)">Priority</th>
			<th ng-click="sortBy('createdOn',5)">Created on</th>
			<th ng-click="sortBy('!dueDate',6)">Due date</th>
			<th ng-click="sortBy('lastChangedOn',7)">Last changed on</th>
		</tr>
	</thead>

	<tr ng-keyup="$event.keyCode == 13 && goToEdit(tasks.indexOf(x))" tabIndex="0" key-navigation ng-repeat="x in tasks | filter : (tasksId != null ? tasksId == 'completed' : '') |  orderBy: filter">
		<td>{{ $index + 1 }}</td>
		<td><span ng-class="x.completed ? 'task-completed' : ''">{{x.title}}</span></td>
		<td><input type="checkbox" ng-model="x.completed" /></td>
		<td><select class="btn btn-default btn-xs dropdown-toggle" ng-model="x.priority.title" ng-change="setId(x.priority)">
				<option>High</option>
				<option>Medium</option>
				<option>Low</option>
		</select></td>
		<td><time class="timeago" datetime="{{x.createdOn}}"></time></td>
		<td>{{x.dueDate}}</td>
		<td><time class="timeago" datetime="{{x.lastChangedOn}}"></time></td>
		<td><a href="#edit/{{tasks.indexOf(x)}}"> <i class="glyphicon glyphicon-edit" style="color: green">&nbsp</i>
		</a> <a href="javascript:void(0)"><i class="glyphicon glyphicon-trash" style="color: red" ng-click="remove(tasks.indexOf(x))"></i></a></td>
	</tr>
</table>