<form name="myForm" class="form-horizontal">

	<div ng-class="myForm.title.$invalid ? 'form-group has-error has-feedback' : 'form-group has-success has-feedback'">
		<div class="col-xs-4">
			<input class="form-control" type="text" name="title" ng-model="task" placeholder="Task" required> <span
				ng-class="myForm.title.$invalid ? 'glyphicon glyphicon-remove form-control-feedback' : 'glyphicon glyphicon-ok form-control-feedback'"></span>
		</div>
		<button type="button" class="btn btn-primary" ng-disabled="myForm.title.$invalid" ng-click="add()">Add</button>
	</div>

</form>

<table class="table table-striped">

	<tr ng-repeat="x in tasks track by $index">
		<td>{{ $index + 1 }}</td>
		<td><input type="checkbox" ng-model="x.completed" /> <span ng-class="x.completed ? 'task-completed' : ''">{{x.title}}</span></td>
		<td><a href="#edit/{{$index}}"> <i class="glyphicon glyphicon-edit" style="color: green">&nbsp</i>
		</a> <a href="javascript:void(0)"><i class="glyphicon glyphicon-trash" style="color: red" ng-click="remove($index)"></i></a></td>
	</tr>

</table>
