<form name="myForm" class="form-horizontal">

	<div ng-class="myForm.title.$invalid ? 'form-group has-error has-feedback' : 'form-group has-success has-feedback'">
		<div class="col-xs-4">
			<input class="form-control" type="text" name="title" ng-model="task" placeholder="Enter new task" required> <span
				ng-class="myForm.title.$invalid ? 'glyphicon glyphicon-remove form-control-feedback' : 'glyphicon glyphicon-ok form-control-feedback'"></span>
		</div>
		<button type="button" class="btn btn-primary" ng-disabled="myForm.title.$invalid" ng-click="add()">Add</button>
	</div>

</form>
<br />

<ul ng-show="tasks.length != 0" class="nav nav-pills">
	<li ng-class="tasksId == null ? 'active' : ''"><a href="#/">All tasks</a></li>
	<li ng-class="tasksId == 'completed' ? 'active' : ''"><a href="#/completed">Completed tasks</a></li>
	<li ng-class="tasksId == 'remaining' ? 'active' : ''"><a href="#/remaining">Remaining tasks</a></li>
</ul>

<table class="table table-striped">
	<tr ng-repeat="x in tasks | filter : (tasksId != null ? tasksId == 'completed' : '')">
		<td>{{ $index + 1 }}</td>
		<td>{{x.dueDate | date: "yyyy-MM-dd"}}</td>
		<td><input type="checkbox" ng-model="x.completed" /> <span ng-class="x.completed ? 'task-completed' : ''">{{x.title}}</span></td>
		<td><a href="#edit/{{tasks.indexOf(x)}}"> <i class="glyphicon glyphicon-edit" style="color: green">&nbsp</i>
		</a> <a href="javascript:void(0)"><i class="glyphicon glyphicon-trash" style="color: red" ng-click="remove(tasks.indexOf(x))"></i></a></td>
	</tr>
</table>

